/* Elements */

html {
  background-color: beige;
}

h1 {
  text-align: center;
  margin: 0;
}

h5 {
  margin: 0;
}

label {
  display: block;
}

textarea {
  width: 100%;
  height: 100%;
  margin: auto;
}

body {
  text-align: center;
}

/* ID's */

#index_div {
  margin: 25%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
}

#button_div {
  width: 30%;
  margin: auto;
  text-align: center;
}

#token_div {
  text-align: center;
  width: 75%;
  margin: auto;
}

#myTable_wrapper {
  text-align: center;
}

#myTable_length,
#myTable_filter {
  color: white;
  background-color: brown;
}

#myTable_paginate,
#myTable_info {
  background-color: white;
  padding: 1rem;
}

#myTable_previous,
#myTable_next {
  background-color: brown;
  padding: 0.5rem;
  margin: 2rem;
  border-radius: 7px;
  border: 2px solid black;
  color: white;
}

/* Classes */

.plan_button {
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  border-radius: 10px;
  font-size: 0.8rem;
}

.plan_container {
  border: 5px solid black;
  padding: 3rem;
  display: grid;
  grid-gap: 5rem;
  margin: auto;
  width: 50%;
  height: 60vh;
  grid-template-columns: auto auto;
}

.index_button {
  display: block;
  margin: 1.5rem auto;
  font-size: 1.5rem;
  border-radius: 7px;
}

.header_footer {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.plan_edit {
  display: block;
  margin: auto;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.error {
  color: red;
  display: block;
}

.dataTables_wrapper {
  background-color: rgba(155, 136, 42, 0.4);
}

/* Responsive */

@media print {
  #button_div {
    display: none;
  }
}
